# 1-1. 数値演算
数値演算について説明します。

参考

- https://docs.python.org/ja/3/tutorial/introduction.html#using-python-as-a-calculator
- https://docs.python.org/ja/3/tutorial/modules.html
- https://docs.python.org/ja/3/library/numeric.html
- https://docs.python.org/ja/3/library/math.html

## 簡単な算術計算

CodeセルにPythonの式を入力して、プレイボタンを押すか、
Shiftを押しながらEnterを押すと、式が評価され、その結果の値がセルの下に挿入されます。

1+1 の計算をしてみましょう。次のセルに `1+1` と入力して、
Shiftを押しながらEnterを押してください。

In [1]:
1+1

2

このようにして、電卓の代わりにPythonを使うことができます。**`+`** は言うまでもなく**足し算**を表しています。

In [2]:
7-2

5

In [3]:
7*2

14

In [8]:
7**100

3234476509624757991344647769100216810857203198904625400933895331391691459636928060001

**`-`** は**引き算**、**`*`** は**掛け算**、**`**`** は**べき乗**を表しています。

式を適当に書き換えてから、Shiftを押しながらEnterを押すと、
書き換えた後の式が評価されて、セルの下の値はその結果で置き換わります。
たとえば、上の `2` を `100` に書き換えて、7の100乗を求めてみてください。

割り算はどうなるでしょうか。

In [5]:
7/2

3.5

In [6]:
7//2

3

Pythonでは、**割り算**（**除算**）は **`/`** で表され、**整数除算**は **`//`** で表されます。
`//` は小数部を切り捨てた整数値（**商**）を返します。

整数同士の `//` の結果は整数になります。

In [7]:
7/1

7.0

In [9]:
7//1

7

整数除算の**余り**（**剰余**）を求めたいときは、別の演算子 **`%`** を用います。

整数同士の `%` の結果は整数になります。

In [10]:
7%2

1

## コメント
Pythonでは一般に、コードの中に **`#`** が出現すると、それ以降、その行の終わりまでが**コメント**になります。
コメントは行頭からも、行の途中からでも始めることができます。

プログラムの実行時には、コメントは無視されます。

In [ ]:
# このように行頭に '#' をおけば、行全体をコメントとすることができます。

# 次のようにコード行に続けて直前のコードについての説明をコメントとして書くこともできます。
2**10  # 2の10乗を計算します

In [ ]:
# 次のようにコード行自体をコメントとすることで、その行を無視させる（コメントアウトする）こともよく行われます。
# 2**10  # 2の10乗を計算します この行が「コメントアウト」された
2**12  # 実は計算したいのは2の12乗でした

## 整数と実数
Pythonでは、**整数**と小数点のある数（**実数**）は、数学的に同じ数を表す場合でも、
コンピュータの中で異なる形式で記憶されますので、表示は異なります。
（実数は**浮動小数点数**ともいいます。）

In [11]:
7/1

7.0

In [12]:
7//1

7

しかし、以下のように、比較を行うと両者は等しいものとして扱われます。
値同士が等しいかどうかを調べる `==` という演算子については、後で紹介します。

In [13]:
7/1 == 7//1

True

`+` と `-` と `*` と `//` と `%` と `**` では、2つの数が整数ならば結果も整数になります。
2つの数が実数であったり、整数と実数が混ざっていたら、結果は実数になります。

In [14]:
2+5

7

In [15]:
2+5.0

7.0

`/` の結果は必ず実数となります。

In [ ]:
7/1

ここで、自分で色々と式を入力してみてください。
以下に、いくつかセルを用意しておきます。
足りなければ、Insertメニューを使ってセルを追加することができます。

### 実数のべき表示

In [16]:
2.0**1000

1.0715086071862673e+301

非常に大きな実数は、10のべきとともに表示（**べき表示**）されます。
`e+301` は10の301乗を意味します。

In [17]:
2.0**-1000

9.332636185032189e-302

非常に小さな実数も、10のべきとともに表示されます。
`e-302` は10の-302乗を意味します。

### いくらでも大きくなる整数

In [18]:
2**1000

10715086071862673209484250490600018105614048117055336074437503883703510511249361224931983788156958581275946729175531468251871452856923140435984577574698574803934567774824230985421074605062371141877954182153046474983581941267398767559165543946077062914571196477686542167660429831652624386837205668069376

このように、Pythonでは整数はいくらでも大きくなります。
もちろん、コンピュータのメモリに納まる限りにおいてですが。

In [19]:
2**2**2**2**2

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

### 整数と実数の間の変換

実数を整数に変換するには、**`int`** という関数を用います。
（関数に関する一般的な説明は1-2を参照してください。）
`int(x)` は、実数 `x` を（`0` の方向に）切り下げた結果を返します。

In [20]:
int(2.9)

2

In [21]:
int(-2.9)

-2

逆に、整数を実数に変換するには、**`float`** という関数を用います。
`float(i)` は、整数 `i` を実数に変換した結果を返します。
たとえば `i+0.0` としても、`i` を実数に変換できます。

In [22]:
float(2)

2.0

In [23]:
2+0.0

2.0

### 数値誤差

浮動小数点数には、**数値誤差**が不可避です。
これは、有限のビット数で、無限に小さくなり得る小数刻みを表現しようとするためです。
（参照：[Wikipedia - 浮動小数点数](https://ja.wikipedia.org/wiki/%E6%B5%AE%E5%8B%95%E5%B0%8F%E6%95%B0%E7%82%B9%E6%95%B0#%E3%82%A8%E3%83%A9%E3%83%BC%EF%BC%88%E8%AA%A4%E5%B7%AE%EF%BC%89)）

Pythonでは、整数は無限桁で表現されるため、整数演算には誤差が生じません。
しかし、整数を実数に変換したときには、一般に誤差が生じます。

In [24]:
10**60

1000000000000000000000000000000000000000000000000000000000000

In [26]:
float(10**60)

1e+60

In [25]:
int(float(10**60))

999999999999999949387135297074018866963645011013410073083904

数え上げのような離散的な値を扱う時には、実数を経由せずに、整数のみで演算するようにしましょう。

## 演算子の優先順位と括弧
掛け算や割り算は足し算や引き算よりも先に評価されます。
すなわち、掛け算や割り算の方が足し算や引き算よりも**優先順位**が高いと定義されています。

**括弧**を使って式の評価順序を指定することができます。

なお、数式 $a(b-c)$、$(a-b)(c-d)$ は、それぞれ $a$ と $b-c$、$a-b$ と $c-d$ の積を意味しますが、
コードでは、`a*(b-c)` や `(a-b)*(c-d)` のように積の演算子である `*` を明記する必要があることに注意してください。

また、数や演算子の間には、自由に空白を入れることができます。（後でもう一度説明します。）

In [27]:
7 - 2 * 3

1

In [28]:
(7 - 2) * 3

15

In [ ]:
17 - 17//3*3

In [ ]:
56 ** 4 ** 2

In [29]:
56 ** 16

9354238358105289311446368256

上の例では、`4**2` が先に評価されて、`56**16` が計算されます。
つまり、`x**y**z` = `x**(y**z)` が成り立ちます。
このことをもって、`**` は右に結合するといいます。

In [ ]:
16/8/2

In [ ]:
(16/8)/2

上の例では、`16/8` が先に評価されて、`2/2` が計算されます。
つまり、`x/y/z` = `(x/y)/z` が成り立ちます。
このことをもって、`/` は左に結合するといいます。

`*` と `/` をまぜても左に結合します。

In [30]:
10/2*3

15.0

以上のように、演算子によって式の評価の順番がかわりますので注意してください。

ではまた、自分で色々と式を入力してみてください。
以下に、いくつかセルを用意しておきます。

### 単項の `+` と `-`

**`+`** と **`-`** は、単項の演算子（**単項演算子**）としても使えます。
（これらの演算子の後に1つだけ数が書かれます。
前と後の両方に数が書かれる演算子は**2項演算子**と言います。）

In [ ]:
-3

In [ ]:
+3

## 算術演算子のまとめ

算術演算子を、評価の優先順位にしたがって、すなわち結合力の強い順にまとめておきましょう。

まず、2項のべき演算子 `**` が最も強く結合します。
`**` は右の方から計算され、このことを「右に結合する」と表します。

次に、単項の `+` と `-` が強く結合します。
なお、 `**` の右側に単項の `+` や `-` がある場合は、`+` と `-` がより強く結合します。
例えば、 `-10 ** 2` では `**` がより強く結合し `-100` となり、 `10 ** -2` では `-` がより強く結合し `0.01` となります。

その次に、2項の `*` と `/` と `//` と `%` が強く結合します。これらは左に結合します。

最後に、2項の `+` と `-` は最も弱く結合します。これらも左に結合します。

## 空白
既に `7 - 2 * 3` のような例が出てきましたが、
演算子と数の間や、演算子と変数（後述）の間には、空白を入れることができます。
ここで**空白**とは、**半角の空白**のことで、英数字と同様に1バイトの文字コードに含まれているものです。

複数の文字から成る演算子、たとえば `**` や `//` の間に空白を入れることはできません。
エラーになることでしょう。

In [31]:
7 **2

49

In [32]:
7* *2

SyntaxError: invalid syntax (<ipython-input-32-925474765>, line 1)

### 全角の空白
日本語文字コードである***全角の空白***は、空白とはみなされませんので注意してください。

In [33]:
7　**2

SyntaxError: invalid non-printable character U+3000 (<ipython-input-33-511804230>, line 1)

## エラー
色々と試していると、**エラー**が起こることもあったでしょう。
以下は典型的なエラーです。

In [34]:
10/0

ZeroDivisionError: division by zero

このエラーは、ゼロによる割り算を行ったためです。
**実行時エラー**の典型的なものです。

エラーが起こった場合は、修正して評価し直すことができます。
上の例で、0 をたとえば 3 に書き換えて評価し直してみてください。

In [35]:
10/

SyntaxError: invalid syntax (<ipython-input-35-92394027>, line 1)

こちらのエラーは**構文エラー**です。
つまり、入力がPythonの構文に違反しているため実行できなかったのです。

## 数学関数（モジュールのインポート）

In [39]:
import math

In [40]:
math.sqrt(2)

1.4142135623730951

数学関係の各種の関数は、**モジュール**（**ライブラリ**）として提供されています。
これらの関数を使いたいときは、上のように、**`import`** で始まる
`import math` というおまじないを一度唱えます。
そうしますと、**`math`** というライブラリが読み込まれて（**インポート**されて）、
`math.関数名` という形で関数を用いることができます。
上の例では、平方根を計算する **`math.sqrt`** という関数が用いられています。

もう少し例をあげておきましょう。sinとcosは **`math.sin`** と **`math.cos`** で求まります。

In [41]:
math.sin(0)

0.0

In [42]:
math.pi

3.141592653589793

**`math.pi`** は、円周率を値とする変数です。

変数については後に説明されます。

In [43]:
math.sin(math.pi)

1.2246467991473532e-16

この結果は本当は 0 にならなければならないのですが、
数値誤差のためにこのようになっています。

In [44]:
math.sin(math.pi/2)

1.0

In [45]:
math.sin(math.pi/4) * 2

1.414213562373095

## 練習

黄金比を求めてください。黄金比とは、5 の平方根に 1 を加えて 2 で割ったものです。約 1.618 になるはずです。

In [47]:
(math.sqrt(5)+1)/2

1.618033988749895